*{
    margin: 0;
    padding: 0;
}

section{
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
}

section div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.auto-fill div{
    background-color: green;
    color:white;
}

.auto-fit div{
    background-color: red;
    color:white;
}

.auto-fill{
    /*Genera más bloques hasta completar el espacio disponible de la pantalla*/
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
}

.auto-fit{
    /* auto-fit, llena el espacio de nuestra pantalla con los bloques que se tengan disponibles, aumentando su tamaño de manera uniforme */
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}