*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    display: grid;
    grid-gap: 10px;

    grid-template:
        /*Filas / columnas*/
        repeat(4,1fr) / repeat(3,1fr)
    ;

    /*justify-item es utilizado para centar el contenido de un gridcell */
    /*recibe parametros como center. end, start y stretch*/
    
    /*Alinear verticalcamente*/
    justify-items:
        center
    ;
    /*Aliena horizontalmente*/
    align-items: stretch;
}

main > * {
    display: flex;
    color:black;
    background-color: blueviolet;
    border: solid 1px black;
}
